@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

html {
  height: 100%;
  font-size: 10px;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100%;
  font-size: 2rem;
  
}

#root {
  height: 100%;
  overflow: hidden;
}

h1, .h1 {
  font-size: 4rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 2rem;  
  margin-bottom: 2rem;
  line-height: 5rem;
}

.mb-3, .my-3 {
  margin-bottom: 0rem !important;
}

.btn {
  font-size: 1em;
}

.form-control {
  font-size: 2rem;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.invert-colors {
  background: black;
  color: white;
  height: 100% !important;
  overflow: hidden;
}

.navbar-brand {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  font-size: 2.5rem;
}

header {
  background: white;
}

div.react-datepicker {
  font-size: 2.0rem;
  -webkit-box-shadow: 0px 38px 76px -43px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 38px 76px -43px rgba(0,0,0,0.75);
  box-shadow: 0px 38px 76px -43px rgba(0,0,0,0.75);
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  width: 4rem !important;
  line-height: 4rem !important;
  margin: 0.1rem !important;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  font-size: 1.5rem !important;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 40px !important;
}

.react-datepicker__time-container, .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100px !important;
}

.session {
  font-size: 10rem;
  line-height: 10rem;
  text-align: left !important;
  margin-left: 10%;
}

.session.none {
  display: none;
}

.clock {
  font-size: 27.5rem;
  line-height: 27.5rem;
  font-family: 'Roboto Mono', monospace;
}
.clock.red {
  color: red;
}

.clock.green {
  color: green;
}

.clock-date {
  font-size: 8rem;
  line-height: 8rem;
  color: #7E7E7E;
  text-align: right !important;
  margin-right: 10%;
}

p.credits {
  font-size: 1rem;
}

div.scrollable {
  max-height: 80rem;
  overflow: scroll;
}

@media (min-width: 3000px) {
  body {
    font-size: 4rem;
  }
  .container {
    max-width: 2280px;
  }
  h1, .h1 {
    font-size: 7rem;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-bottom: 2rem;
      font-weight: 500;
      line-height: 9rem;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .navbar-brand {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    font-size: 5.5rem;
  }
  .session {
    font-size: 20rem;
    line-height: 20rem;
    
  }
  .clock {
    font-size: 54.5rem;
    line-height: 54.5rem;
  }

  .clock-date {
    font-size: 20rem;
    line-height: 20rem;
  }
}